<ion-header>
  <ion-toolbar>
      <ion-title>Mes Rendez-vous</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <!-- Conteneur pour boucler sur les rendez-vous -->
      <ng-container *ngFor="let rdv of rendezVous">
          <!-- Affichage pour les patients -->
          <ion-item *ngIf="userRole === 'patient'">
              <ion-label>
                  <h2>{{ rdv.medecinName }} ({{ rdv.medecinSpecialite }})</h2>
                  <p>Adresse: {{ rdv.medecinAdresse }}</p>
                  <p>{{ rdv.jour | titlecase }}: {{ rdv.debut }} - {{ rdv.fin }} ({{ rdv.statut }})</p>
              </ion-label>
              <ion-button slot="end" color="danger" (click)="annulerRdv(rdv._id)" *ngIf="rdv.statut !== 'annulé'">
                  Annuler
              </ion-button>
          </ion-item>

          <!-- Affichage pour les médecins -->
          <ion-item *ngIf="userRole === 'medecin'">
              <ion-label>
                  <h2>{{ rdv.patientName }}</h2>
                  <p>Email: {{ rdv.patientEmail }}</p>
                  <p>{{ rdv.jour | titlecase }}: {{ rdv.debut }} - {{ rdv.fin }} ({{ rdv.statut }})</p>
              </ion-label>
              <ion-button slot="end" color="danger" (click)="annulerRdv(rdv._id)" *ngIf="rdv.statut !== 'annulé'">
                  Annuler
              </ion-button>
          </ion-item>
      </ng-container>
  </ion-list>
</ion-content>