<app-header title="Mes Rendez-vous"></app-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let rdv of rendezVous">
      <ion-label>
        <h2>{{ rdv.date | date:'EEEE d MMMM yyyy' }}</h2>
        <p>{{ rdv.heure }} - Durée: {{ rdv.duree }} minutes</p>
        <p *ngIf="!isMedecin">Médecin: {{ rdv.medecinName }}</p>
        <p *ngIf="isMedecin">Patient: {{ rdv.patientName }}</p>
        <p>Motif: {{ rdv.motif }}</p>
      </ion-label>
      <ion-badge [color]="rdv.status === 'confirmé' ? 'success' : 'warning'">
        {{ rdv.status }}
      </ion-badge>
      <ion-button fill="clear" (click)="annulerRendezVous(rdv._id)" *ngIf="rdv.status === 'confirmé'">
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>