<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="welcome-text">
    <h2>Bienvenue sur MediConnect</h2>
    <p>Accédez à vos services de santé en toute simplicité.</p>
  </div>
  <form (submit)="login()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Se connecter</ion-button>
  </form>
  <p>Pas encore inscrit ? <a (click)="goToRegister()">Créer un compte</a></p>
  <p>Retour <a (click)="goToHome()">Page principale</a></p>

</ion-content>
