<ion-header>
  <ion-toolbar>
      <ion-title>Espace Médecin</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
      <ion-item *ngFor="let jour of jours">
          <ion-label>{{ jour | titlecase }}</ion-label>
          <ion-button slot="end" (click)="ajouterCreneau(jour)">Ajouter</ion-button>
          <ion-list>
              <ion-item *ngFor="let creneau of disponibilites[jour]; let i = index">
                  {{ creneau.debut }} - {{ creneau.fin }}
                  <ion-button slot="end" color="danger" (click)="supprimerCreneau(jour, i)">X</ion-button>
              </ion-item>
          </ion-list>
      </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="saveDisponibilites()">Sauvegarder</ion-button>
</ion-content>